<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estabelecimento">
            <h2><span jhiTranslate="cpmtshtApp.estabelecimento.detail.title">Estabelecimento</span> {{estabelecimento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpmtshtApp.estabelecimento.designacao">Designacao</span></dt>
                <dd>
                    <span>{{estabelecimento.designacao}}</span>
                </dd>
                <dt><span jhiTranslate="cpmtshtApp.estabelecimento.localizacao">Localizacao</span></dt>
                <dd>
                    <div *ngIf="estabelecimento.localizacao">
                        <a [routerLink]="['/localizacao', estabelecimento.localizacao?.id, 'view']">{{estabelecimento.localizacao?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cpmtshtApp.estabelecimento.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="estabelecimento.empresa">
                        <a [routerLink]="['/empresa', estabelecimento.empresa?.id, 'view']">{{estabelecimento.empresa?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estabelecimento', estabelecimento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
