<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-posto-trabalho-heading" jhiTranslate="cpmtshtApp.postoTrabalho.home.createOrEditLabel">Create or edit a Posto Trabalho</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!postoTrabalho.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="postoTrabalho.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpmtshtApp.postoTrabalho.designacao" for="field_designacao">Designacao</label>
                    <input type="text" class="form-control" name="designacao" id="field_designacao"
                        [(ngModel)]="postoTrabalho.designacao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpmtshtApp.postoTrabalho.dataInicio" for="field_dataInicio">Data Inicio</label>
                    <div class="d-flex">
                        <input id="field_dataInicio" type="datetime-local" class="form-control" name="dataInicio" [(ngModel)]="dataInicio" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpmtshtApp.postoTrabalho.dataFim" for="field_dataFim">Data Fim</label>
                    <div class="d-flex">
                        <input id="field_dataFim" type="datetime-local" class="form-control" name="dataFim" [(ngModel)]="dataFim" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpmtshtApp.postoTrabalho.funcionario" for="field_funcionario">Funcionario</label>
                    <select class="form-control" id="field_funcionario" name="funcionario" [(ngModel)]="postoTrabalho.funcionario" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="funcionarioOption.id === postoTrabalho.funcionario?.id ? postoTrabalho.funcionario : funcionarioOption" *ngFor="let funcionarioOption of funcionarios; trackBy: trackFuncionarioById">{{funcionarioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
