<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoRisco">
            <h2><span jhiTranslate="cpmtshtApp.tipoRisco.detail.title">Tipo Risco</span> {{tipoRisco.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpmtshtApp.tipoRisco.designacao">Designacao</span></dt>
                <dd>
                    <span>{{tipoRisco.designacao}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-risco', tipoRisco.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
