<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpmtshtApp.tipoRisco.home.title">Tipo Riscos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-risco" [routerLink]="['/tipo-risco/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpmtshtApp.tipoRisco.home.createLabel">
            Create new Tipo Risco
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoRiscos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cpmtshtApp.tipoRisco.designacao">Designacao</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoRisco of tipoRiscos ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-risco', tipoRisco.id, 'view' ]">{{tipoRisco.id}}</a></td>
                <td>{{tipoRisco.designacao}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tipo-risco', tipoRisco.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-risco', tipoRisco.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tipo-risco', { outlets: { popup: tipoRisco.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
